*.class
*.log
*.zip
*.gz
*.jpeg
*.jpg
*.png
*~

# sbt specific
.settings/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.project
.classpath
.cache

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ IDEA specific
**/.idea/
**/target/
**/*.iml


# bloop and metals
.bloop
.bsp
.metals
project/metals.sbt

# vs code
.vscode

# scala 3
.tasty

# sbt
project/project/
project/target/

# eclipse
build/
.settings
bin/

# intellij idea
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.cache-main
